main{
    margin: 2rem;
    font-family: Roboto, sans-serif;
    min-height: calc(50vh);
    align-items: center;
    justify-self: center;
}

.box{
    background-color: rgba(0, 0, 0, 0.678);
    box-shadow: 0 8px 32px 0 rgba(40, 40, 49, 0.199);
    backdrop-filter: blur( 15px );
    border-radius: 10px;
    -webkit-backdrop-filter: blur( 15px );
    color: #ccc9db;
    width: 90%;
    min-height: 25rem;
    margin: 2rem auto;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 2rem;
}

.box-titulo{
    text-transform: uppercase;
    color: #e2d8d8;
    font-weight: normal;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

strong{
    color:#ffffff;
    font-weight: bold;
}

section{
    margin-top: 2rem;
}

.box article p, .box article strong, .box article em, .box article ul li{
    margin: 1rem 0;
    font-size: 1.15rem;
}

.box article ul li{
    list-style: disc;
    margin: 1rem 1.15rem;
}

.beneficios{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#img-beneficios{
    width: 18rem;
    border-radius: 20px;
}

@media only screen and (max-width: 768px){
    #img-beneficios{
        width: 12rem;
    }
}

@media only screen and (max-width: 480px){
    #img-beneficios{
        visibility: visible;
    }

    .flex{
        display: block;
    }
}