

/*Estilos Globais*/

html{
    background: url("no-filter-bg.png") no-repeat center center fixed;
    background-size: cover;
}

.grid{
    display: grid;
    grid-template-rows: 1200px 1200px 1200px;
}

header{
    padding: 2rem;
    grid-area: header;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

header > div{
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 8rem;
}

.nav-item{
    color: #D3D3C7;
    margin-right: 1rem;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-size: larger;
}

.nav-list > .active{
    color: #CACC59;
}

.nav-item:hover{
    color: #fff;
}

.nav-list > .active:hover{
    color:#d3d60f
}

footer{
    width: 100%;
    background: url("bg.jpg") repeat;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: #acacac;
    text-align: center;
    margin-top: 5rem;
    grid-area: footer;
}

footer .logo{
    margin-bottom: 1rem;
}

@media only screen and (min-height: 1100px){
    footer{
        position: absolute;
        bottom: 0;
    }
}