

/*Estilos Globais*/

html{
    background: url("no-filter-bg.png") no-repeat center center fixed;
    background-size: cover;
}

.grid{
    display: grid;
    grid-template-rows: 1200px 1200px 1200px;
}

header{
    padding: 2rem;
    grid-area: header;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

header > div{
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 8rem;
    margin-bottom: 1rem;
}

.nav-item{
    color: #ffffff;
    margin-right: 1rem;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-size: larger;
}

.active{
    color: #19b340;
}

.nav-item:hover{
    color: #76f395;
    transition: 500ms;
}

.nav-list > .active:hover{
    color:#53e076;
}

footer{
    width: 100%;
    background: url("bg.jpg") repeat;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: #acacac;
    text-align: center;
    margin-top: 5rem;
    grid-area: footer;
    font-family: Roboto, sans-serif;
}

footer .logo{
    margin-bottom: 1rem;
}

.mobile{
    display: none;
}

.checkbox{
    display: none;
}

.menu{
    height: 1.2rem;
    filter: invert(1);
}

@media only screen and (min-height: 1100px){
    footer{
        position: absolute;
        bottom: 0;
    }
}

@media only screen and (max-width: 768px){
    .mobile{
        display: inline;
    }

    .nav-list-mobile{
        color: rgb(211, 211, 211);
        font-family: Roboto, sans-serif;
        text-align: center;
    }

    .nav-list-mobile li{
        margin-top: 1rem;
        display: none;
    }

    .nav-bar{
        display: none;
    }

    .close{
        display: none;
    }

    #nav-toggle:checked ~ label.nav-label .close {
        display: inline;
    }

    #nav-toggle:checked ~ label.nav-label .open{
        display: none;
    }

    #nav-toggle:checked ~ label.nav-label ul.nav-list-mobile li{
        display: inline;
        margin-right: 1rem;
    }

}